:root {
    --color-1: #eb9ac0;
    --color-2: #f3aacb;
    --color-3: #f7bfd8;
    --color-4: #fbd5e5;
    --color-5: #f9e7ef;
    --color-6: #a80070;
    --color-7: #f8f7f1;

    --image-bg: url("https://cdn.pixabay.com/photo/2016/11/20/09/12/castle-1842324_1280.jpg");
    --color-border-1: var(--color-6);
}

@font-face {
    font-family: fuente-boda;
    src: url(fuente_boda.otf);
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: var(--color-5);
    color: var(--color-6);
}

#main {
    display: grid;
    grid-template-rows: 150px auto;
    height: 100%;
}

#main-image {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    img {
        max-width: 100%;
    }

    img:hover {
        border-radius: 0;
    }
}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow-x: hidden;
}

.bg-img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 380px;
    opacity: 20%;
}

#wellcome-text,
#dress,
#locations{
    width: auto;
    margin: 15px;
}

.location {
    margin-top: 20px;
    
    .location-name-time {
        display: grid;
        grid-template-columns: auto 30%;
    }

    h3 {
        text-align: center;
        padding: 0;
        margin: 0;
    }
    
    .location-map {
        width: 100%;
        margin: auto;
        height: 250px;
    }
}

#wellcome-text {
    width: 100%;
    text-wrap: warp;
    width: auto;

    h1 {
        text-align: center;
        padding: 0;
    }
    
    h1,
    b {
        color: var(--color-1);

    }
}